<dialog 
  class="modal modal-bottom modal-open sm:modal-middle">
  
  <div class="modal-box overflow-visible">

    <h3 class="text-lg font-bold text-primary text-center">
      @if (isLoading()) {
        <app-loading-component/>
      } @else {
        {{ isEditMode() ? 'Modificar' : 'Crear' }} Projecto
      }
    </h3>

    @if (errorMessage()) {
      <div class="py-2">
        <app-message-error-component [message]="errorMessage()"/>
      </div>
    }

    @if (!isLoading()) {
      <app-image-field-component
        [aspect]="'aspect-video'"
        [imgUrl]="data()?.img_url ?? null"
        (fileSelected)="onFileSelected($event)"
        (onDelete)="onDeleteImage.emit()"/>

      <fieldset class="fieldset">
        <label class="label">Nombre</label>
        <input
          type="text" class="input w-full" placeholder="Nombre"
          [value]="formData().name"
          (input)="updateName($any($event.target).value)"
          maxlength="50"
        />
      </fieldset>

      <fieldset class="fieldset">
        <label class="label">Repo Url</label>
        <input
          type="text" class="input w-full" placeholder="URL"
          [value]="formData().repo_url"
          (input)="updateRepoUrl($any($event.target).value)"
          maxlength="256"
        />
      </fieldset>

      <fieldset class="fieldset">
        <label class="label">App url</label>
        <input
          type="text" class="input w-full" placeholder="URL"
          [value]="formData().app_url"
          (input)="updateAppUrl($any($event.target).value)"
          maxlength="256"
        />
      </fieldset>

      <fieldset class="fieldset">
        <label class="label cursor-pointer justify-start gap-2 pt-2">
          <input
            type="checkbox" class="checkbox checkbox-primary"
            [checked]="formData().is_enable"
            (change)="updateIsEnable($any($event.target).checked)"
          />
          Activo
        </label>
      </fieldset>

      <div class="modal-action flex gap-2">
        <button class="btn btn-primary min-w-32" (click)="submit()">
          {{ isEditMode() ? 'Guardar' : 'Crear' }}
        </button>
        <button (click)="onClose.emit()" class="btn min-w-32">Cancelar</button>
      </div>
    }
  </div>
</dialog>
