<div class="grid grid-cols-4 items-center gap-4">
  @if (errorMessage()) {
    <div class="col-span-4">
      <app-message-error-component [message]="errorMessage()"/>
    </div>
  }

  <label class="cursor-pointer flex items-center gap-2 border rounded px-4 py-2 hover:bg-base-300 transition-colors">
    <span class="text-sm truncate max-w-40">
      {{ formData().file ? formData().file?.name : 'Cargar ' + label() }}
    </span>

    <input
      #fileInput
      type="file"
      class="hidden"
      accept="image/*"
      (change)="onSelectedFile(fileInput.files?.[0] ?? null)" />
  </label>

  <fieldset class="fieldset">
    <input
      #alt
      type="text" class="input w-full" placeholder="{{ label() }} Alt"
      maxlength="200"
      [value]="formData().alt_text"
      (input)="updateAlt(alt.value)"
    />
  </fieldset>

  <fieldset class="fieldset">
    <input
      #sortOrder
      type="number" class="input w-full" placeholder="Sort Order"
      [value]="formData().sort_order"
      (input)="updateSortOrder(sortOrder.value)"
    />
  </fieldset>

  @if (isLoading()) {
    <div class="flex justify-center">
      <app-loading-component/>
    </div>
  } @else {
    <div class="flex justify-end gap-2">
      <app-button-component
        [icon]="'save'"
        (onClick)="submit()" />

      <app-button-component
        [icon]="'clear'"
        (onClick)="clear()" />
    </div>
  }
</div>