<dialog class="modal modal-bottom modal-open sm:modal-middle">
  <div class="modal-box overflow-visible grid gap-2">
    @if (isLoading()) {
      <app-loading-component class="flex justify-center"/>
    } @else {
      <h3 class="text-lg font-bold text-neutral-content text-center">
        {{ isEditMode() ? 'Modificar' : 'Crear' }} Plataforma
      </h3>

      @if (errorMessage()) {
        <app-message-error-component [message]="errorMessage()"/>
      }

      <fieldset class="fieldset">
        <label class="label" for="platform-name">Nombre</label>
        <input
          id="platform-name"
          #name
          type="text" class="input w-full" placeholder="Nombre"
          [value]="formData().name"
          (input)="updateName(name.value)"
          maxlength="50"
        />
      </fieldset>

      <div class="modal-action flex gap-2">
        <app-button-component
          [icon]="'create'"
          [textBtn]="isEditMode() ? 'Guardar' : 'Crear'"
          (onClick)="submit()" />

        <app-button-component
          [icon]="'cancel'"
          [textBtn]="'Cancelar'"
          (onClick)="onClose.emit()" />
      </div>
    }
  </div>
</dialog>