<section class="grid gap-2">
  <span class="font-bold text-2xl italic px-2">
    @if (isLoading()) {
      <app-loading-component/>
    } @else {
      {{ isEditMode() ? 'MODIFICAR' : 'CREAR' }}
    }
    GAME
  </span>

  <div class="fieldset bg-base-200 border-base-300 rounded-box border p-5 flex justify-end w-full">
    <app-button-component
      [icon]="'goto'"
      [textBtn]="'Volver'"
      (onClick)="goToGame()"/>
  </div>

  @if (successMessage()) {
    <app-message-success-component [message]="successMessage()"/>
  }

  @if (errorMessage()) {
    <app-message-error-component [message]="errorMessage()"/>
  }

  <app-game-form-component
    [isLoading]="isLoading()"
    [isSaving]="isSaving()"
    [isEditMode]="isEditMode()"
    [computedGame]="computedGame()"
    [computedPlatformList]="computedPlatformList()"
    [computedGenreList]="computedGenreList()"
    (errorMessage)="errorMessage.set($event)"
    (onDeleteImage)="onDeleteImage()"
    (onSubmit)="onSubmit($event)"
  />

  @if (isEditMode()) {
    <section class="bg-base-200 border-base-300 p-4 rounded-box border">
      <app-source-form-component
        [isLoading]="isSavingSource()"  
        [sourcePayload]="saveSourcePayload()"
        (errorMessage)="errorMessage.set($event)"  
        (onClear)="onClearSource()"      
        (onSubmit)="onSubmitSource($event)"/>

      <app-sources-list-component
        [isLoading]="isSavingSource()"
        [sourceList]="computedGame()?.sources ?? []" 
        (onEdit)="onEditSource($event)"
        (onDelete)="onDeleteSource($event)"/>
    </section>
  }
  
  @if (isEditMode()) {
    <div class="bg-base-200 border-base-300 p-4 rounded-box border">
      <div class="tabs tabs-lift">
        <label class="tab">
          <input type="radio" name="my_tabs_4" checked="checked" />
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2"><path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" /></svg>
          Screenshots
        </label>
        <div class="tab-content bg-base-100 border-base-300 p-6">
          <app-image-upload-component 
            [label]="'Screenshot'"
            [gameId]="computedGame()?.id ?? 0" 
            [isLoading]="isSavingImage()"
            (onSubmit)="onUploadScreenshot($event)" />
          <app-image-list-component 
            [imageList]="computedGame()?.screenshots"
            (onDeleteImage)="onDeleteScreenshot($event)" />
        </div>

        <label class="tab">
          <input type="radio" name="my_tabs_4" />
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2"><path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" /></svg>
          Maps
        </label>
        <div class="tab-content bg-base-100 border-base-300 p-6">
          <app-image-upload-component 
            [label]="'Map'"
            [gameId]="computedGame()?.id ?? 0" 
            [isLoading]="isSavingImage()"
            (onSubmit)="onUploadMap($event)"/>
          <app-image-list-component 
            [imageList]="computedGame()?.maps"
            (onDeleteImage)="onDeleteMap($event)" />
        </div>
      </div>
    </div>
  }
</section>

@if (errorMessage()) {
  <app-modal-error-component
    [message]="errorMessage()"
    (close)="clearError()"
  />
}
