<section class="grid gap-2">
  <span class="font-bold text-2xl italic px-2">
    @if (isLoading()) {
      <app-loading-component/>
    } @else {
      {{ isEditMode() ? 'MODIFICAR' : 'CREAR' }}
    }
    GAME
  </span>

  <div class="fieldset bg-base-200 border-base-300 rounded-box border p-5 flex justify-end w-full">
    <app-button-component
      [icon]="'goto'"
      [textBtn]="'Volver'"
      (onClick)="goToGame()"/>
  </div>

  @if (successMessage()) {
    <app-message-success-component [message]="successMessage()"/>
  }

  @if (errorMessage()) {
    <app-message-error-component [message]="errorMessage()"/>
  }

  <span class="font-bold text-2xl px-2">
    Formulario
  </span>

  <app-game-form-component
    [isLoading]="isLoading()"
    [isSaving]="isSaving()"
    [isEditMode]="isEditMode()"
    [computedGame]="computedGame()"
    [computedPlatformList]="computedPlatformList()"
    [computedGenreList]="computedGenreList()"
    (errorMessage)="errorMessage.set($event)"
    (onDeleteImage)="onDeleteImage()"
    (onSubmit)="onSubmit($event)"
  />

  @if (isEditMode()) {
    <span class="font-bold text-2xl px-2">
      Fuentes
    </span>

    <section class="bg-base-200 border-base-300 p-4 rounded-box border overflow-hidden">
      <app-source-form-component
        [isLoading]="isSavingSource()"  
        [sourcePayload]="saveSourcePayload()"
        (errorMessage)="errorMessage.set($event)"  
        (onClear)="onClearSource()"      
        (onSubmit)="onSubmitSource($event)"/>

      <app-sources-list-component
        [isLoading]="isSavingSource()"
        [sourceList]="computedGame()?.sources ?? []" 
        (onEdit)="onEditSource($event)"
        (onDelete)="onDeleteSource($event)"/>
    </section>
  }

  @if (isEditMode()) {
    <span class="font-bold text-2xl px-2">
      Fondos - Mapas / Equipos
    </span>

    <div class="bg-base-200 border-base-300 p-4 rounded-box border">
      <div class="tabs tabs-lift">
        <label class="tab">
          <input type="radio" name="my_tabs_3" checked="checked" />
          Screenshots
        </label>

        <div class="tab-content bg-base-100 border-base-300 p-4">
          <app-image-form-component
            ngSkipHydration
            [label]="'Screenshot'"
            [isLoading]="isSavingImage()"
            (onSubmit)="onUploadScreenshot($event)" />

          <app-image-list-component 
            [imageList]="computedGame()?.screenshots"
            (onDeleteImage)="onDeleteScreenshot($event)" />
        </div>

        <label class="tab">
          <input type="radio" name="my_tabs_3" />
          Maps / Equipos
        </label>

        <div class="tab-content bg-base-100 border-base-300 p-4">
          <app-image-form-component
            ngSkipHydration
            [label]="'Map'"
            [isLoading]="isSavingImage()"
            (onSubmit)="onUploadMap($event)"/>

          <app-image-list-component 
            [imageList]="computedGame()?.maps"
            (onDeleteImage)="onDeleteMap($event)" />
        </div>
      </div>  
    </div>  
  }

  @if (isEditMode()) {
    <span class="font-bold text-2xl px-2">
      Personajes
    </span>

    <div class="bg-base-200 border-base-300 p-4 rounded-box border grid gap-2">
      <app-character-form-component
        [isLoading]="isSaving()"
        [isEditMode]="isEditMode()"
        [computedCharacter]="null"
        (errorMessage)="errorMessage.set($event)"
        (onDeleteImage)="onDeleteCharacterImage($event)"
        (onSubmit)="onSubmitCharacter($event)" />

      <span class="divider"></span>

      <div class="overflow-hidden">
        <app-character-list-component
          [characterList]="computedGame()?.characters ?? []" />
      </div>
    </div>
  }
</section>

@if (errorMessage()) {
  <app-modal-error-component
    [message]="errorMessage()"
    (close)="clearError()"
  />
}
