<div class="overflow-x-auto bg-base-300 mt-2">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Url</th>
        <th>Sort</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <!-- row -->
      @for (item of sourceList(); track item.id) {
        <tr>
          <th>{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.url }}</td>
          <td>{{ item.sort_order }}</td>
          <td>
            @if (isLoading()) {
              <app-loading-component/>
            } @else {
              <div class="flex gap-2">
                <app-button-component 
                  [icon]="'edit'" 
                  (onClick)="onEdit.emit(item)"/>
                <app-button-component 
                  [icon]="'delete'" 
                  (onClick)="onDelete.emit(item)"/>
              </div>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
