<section class="grid gap-2">
  @if (isLoading()) {
    <app-loading-component class="flex justify-center p-4"/>
  } @else {
    @for (item of guideDetailList(); track item.id) {
      <details class="collapse bg-base-300 border border-base-300" name="my-accordion-det-1">
        <summary class="collapse-title font-semibold flex justify-between">
          {{ item.sort_order }} - {{ item.title }}

          <div class="flex gap-2">
            <app-button-component 
              [icon]="'edit'" 
              (clicked)="editGuideModal.emit(item)" /> 

            <app-button-component 
              [icon]="'delete'" 
              (clicked)="deleteGuide.emit(item)" />
          </div>

        </summary>

        <div class="collapse-content text-sm bg-base-200 pt-2 grid gap-4">
          <div class="flex justify-between">
            <p class="uppercase font-semibold opacity-60 my-auto">
              Id guía: {{ item.id }}
            </p>
          </div> 
        
          <p class="whitespace-pre-wrap">{{ item.summary }}</p>

          <app-button-component 
            [icon]="'create'"
            [textBtn]="'Aventura - Crear Sección'"
            (clicked)="createAdventureModal.emit(item.id)" />

          <app-adventure-list-component
            [adventureDetailList]="item.adventures"
            (editAdventureModal)="editAdventureModal.emit($event)"
            (deleteAdventure)="deleteAdventure.emit($event)"
            (openAdventureImageModal)="openAdventureImageModal.emit($event)"
            (deleteAdventureImage)="deleteAdventureImage.emit($event)" />

          <app-button-component 
            [icon]="'create'"
            [textBtn]="'Aventura - Crear Sección'"
            (clicked)="createAdventureModal.emit(item.id)" />            
        </div>
      </details>
    }
  }
</section>