<section class="grid gap-2">
  <span class="font-bold text-2xl italic px-2">GUIDES</span>

  <div class="flex justify-between gap-4 bg-base-200 p-4 rounded-2xl border border-base-300 ">
    <app-select-search-component 
      [placeholder]="'Filtrar por Juego'" 
      [items]="computedGameList()"
      [isLoading]="getAllGamesRX.isLoading()" 
      [clearTrigger]="clearTrigger()"
      (selectionChange)="onGameSelected($event)"
      (cleared)="onGameClear()"/>

    <app-button-component 
      [icon]="'clear'" 
      [textBtn]="'Limpiar'"
      (onClick)="onClear()" />  
  </div>

  <header class="flex gap-4 bg-base-200 p-4 rounded-2xl border border-base-300">
    <div class="relative overflow-hidden rounded-md shadow-lg aspect-square max-h-20" >
      <img
        class="w-full h-full object-cover"
        [ngSrc]="selectedGame()?.img_url  ?? '/images/placeholder.webp'"
        [alt]="selectedGame()?.name ?? 'Imagen'" 
        priority
        height="100" width="100" />
    </div>

    <div class="my-auto font-bold text-2xl">
      <h1>{{ selectedGame()?.id }} - {{ selectedGame()?.name }}</h1>
    </div>
  </header>

  <app-pagination-filter-component
    (onRefreshClick)="onRefreshClick()"
    (onFilterChange)="onFilterChange($event)"/>    

  @if (selectedGame()) {
    <app-button-component 
      class="ml-auto"
      [icon]="'create'" 
      [textBtn]="'Guía - Crear Sección'"
      (onClick)="onCreateGuideModal()" />
  }

  <app-pagination-nav-component
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (prevPage)="prevPage()"
    (nextPage)="nextPage()"/>

  <app-guide-list-component
    [isLoading]="getAllDetailByGamePagination.isLoading() && !getAllDetailByGamePagination.hasValue()"
    [guideDetailList]="getAllDetailByGamePagination.value() ?? []" 
    (onEditGuideModal)="onEditGuideModal($event)"
    (onDeleteGuide)="onDeleteGuide($event)"
    (onCreateAdventureModal)="onCreateAdventureModal($event)"
    (onEditAdventureModal)="onEditAdventureModal($event)"
    (onDeleteAdventure)="onDeleteAdventure($event)"
    (onOpenAdventureImageModal)="onOpenAdventureImageModal($event)"
    (onDeleteAdventureImage)="onDeleteAdventureImage($event)" />

  @if (selectedGame()) {
    <app-button-component 
      class="ml-auto"
      [icon]="'create'" 
      [textBtn]="'Guía - Crear Sección'"
      (onClick)="onCreateGuideModal()" />
  }

  <app-pagination-nav-component
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (prevPage)="prevPage()"
    (nextPage)="nextPage()"/>
</section>

@if (showGuideFormModal()) {
  <app-guide-form-component 
    [isLoading]="isSavingGuide()"
    [selectedGuide]="saveGuidePayload()"
    (onClose)="onCloseGuideModal()"
    (onSubmit)="onSubmitGuide($event)" />
}

@if (showAdventureFormModal()) {
  <app-adventure-form-component
    [isLoading]="isSavingAdventure()"
    [selectedAdventure]="saveAdventurePayload()?.data ?? null"
    (onSubmit)="onSubmitAdventure($event)"
    (onClose)="onCloseAdventureModal()" />
}

@if (showAdventureImageFormModal()) {
  <app-adventure-image-form-component
    [isLoading]="isSavingAdventureImage()"
    (onSubmit)="onSubmitAdventureImage($event)"
    (onClose)="onCloseAdventureImageModal()" />
}
