<dialog class="modal modal-bottom modal-open sm:modal-middle">
  <div class="modal-box overflow-visible grid gap-2">
    @if (isLoading()) {
      <app-loading-component class="flex justify-center"/>
    } @else {
      <h3 class="text-lg font-bold text-neutral-content text-center">
        {{ isEditMode() ? 'Modificar' : 'Crear' }} Url
      </h3>

      @if (errorMessage()) {
        <app-message-error-component [message]="errorMessage()"/>
      }

      <fieldset class="fieldset">
        <label class="label">Nombre</label>
        <input
          #name
          type="text" class="input w-full" placeholder="Nombre"
          [value]="formData().name"
          (input)="updateName(name.value)"
          maxlength="50"
        />
      </fieldset>

      <fieldset class="fieldset">
        <label class="label">Link / URL</label>
        <input
          #link
          type="text" class="input w-full" placeholder="URL"
          [value]="formData().link"
          (input)="updateLink(link.value)"
        />
      </fieldset>

      <fieldset class="fieldset">
        <label class="label">Seleccionar Url Grp</label>
        <app-select-search-component
          [items]="urlgrpList()"
          [selectedId]="formData().id_urlgrp"
          [isLoading]="isLoading()"
          (selectionChange)="updateUrlGrp($event)"
          (cleared)="clearUrlGrp()"
        />
      </fieldset>

      <fieldset class="fieldset">
        <label class="label cursor-pointer justify-start gap-2 pt-2">
          <input
            #isEnabled
            type="checkbox" class="checkbox checkbox-primary"
            [checked]="formData().is_enabled"
            (change)="updateIsEnabled(isEnabled.checked)"
          />
          Activo
        </label>
      </fieldset>

      <div class="modal-action flex gap-2">
        <app-button-component
          [icon]="'create'"
          [textBtn]="isEditMode() ? 'Guardar' : 'Crear'"
          (onClick)="submit()" />

        <app-button-component
          [icon]="'cancel'"
          [textBtn]="'Cancelar'"
          (onClick)="onClose.emit()" />
      </div>
    }
  </div>
</dialog>