<section class="grid gap-2">
  <span class="font-bold text-4xl italic px-2">TECHNOLOGY</span>

  <app-pagination-filter-component
    (onRefreshClick)="onRefreshClick()"
    (onFilterChange)="onFilterChange($event)"/>

  <app-button-component [icon]="'create'" [textBtn]="'Crear Technology'" (onClick)="onCreate()"/>

  @if (successMessage()) {
    <app-message-success-component [message]="successMessage()"/>
  }

  @if (getAllRX.isLoading()) {
    <div class="p-4 flex justify-center items-center">
      <app-loading-component/>
    </div>
  } @else {
    <div class="overflow-x-auto">
      <table class="table bg-base-200">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Id / Nombre</th>
            <th>Creacion / Modificacion</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          @for (item of computedList(); track item.id_technology) {
            <tr>
              <td>
                <div class="avatar">
                  <div class="mask h-10 w-10">
                    <img
                      class="object-cover" 
                      [ngSrc]="item.img_url ?? '/images/placeholder.png'"
                      [alt]="item.name"
                      fill
                      priority
                    />
                  </div>
                </div>
              </td>
              <td>
                <div class="flex items-center gap-3">
                  <div>
                    <div class="font-bold">ID: {{ item.id_technology }}</div>
                    <div class="text-sm opacity-50">{{ item.name }}</div>
                  </div>
                </div>
              </td>
              <td>
                <span>{{ item.created_at | date:'yyyy-MM-dd' }}</span>
                <br />
                <span>{{ item.updated_at | date:'yyyy-MM-dd' }}</span>
              </td>
              <th>
                <div class="flex gap-2">
                  <app-button-component [icon]="'edit'" (onClick)="onEdit(item)"/>
                  <app-button-component [icon]="'delete'" (onClick)="onDelete(item)"/>
                </div>
              </th>
            </tr>
          }
        </tbody>

        <tfoot>
          <tr>
            <th>Imagen</th>
            <th>Id / Nombre</th>
            <th>Creacion / Modificacion</th>
            <th>Acciones</th>
          </tr>
        </tfoot>
      </table>
    </div>
  }

  <app-pagination-nav-component
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (prevPage)="prevPage()"
    (nextPage)="nextPage()"/>
</section>

@if (showDeleteModal()) {
  <app-modal-action-component
    [isLoading]="isDeleting()"
    [title]="'Eliminar Technology'"
    [message]="'Estas seguro que deceas eliminar Technology'"
    (onConfirm)="onDeleteModalConfirm()"
    (onClose)="showDeleteModal.set(false)"
  />
}

@if (showFormModal()) {
  <app-technology-form-component
    [isLoading]="getByIdRX.isLoading() || isSaving()"
    [data]="computedItem()"
    (onSubmit)="onSubmitForm($event)"
    (onClose)="showFormModal.set(false)"
  />
}
