/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin "daisyui";

body::-webkit-scrollbar{
  display: none !important;
}

html::-webkit-scrollbar{
  display: none !important;
}

body {
  scrollbar-width: none !important; 
}

html {
  scrollbar-width: none !important; 
}

.btn-error {
  background-color: rgb(220 38 38); /* red-600 */
  color: rgb(255 255 255);
}

.btn-error:hover {
  background-color: rgb(239 68 68); /* red-500 */
}