<ul class="list bg-base-100 rounded-box shadow-md">
  @if (isLoading()) {
    <app-loading-component class="flex justify-center p-4"/>
  } @else {
    @if (data().length > 0) {
      @for (item of data(); track item.id) {
        <li class="list-row">
          <div class="relative aspect-square min-w-10">
            <img 
              [ngSrc]="item.img_url ?? '/images/placeholder.webp'"
              alt="logo"
              fill
              class="rounded-box"/>
          </div>
          <div>
            <div>{{ item.id }}</div>
            <div class="text-xs font-semibold opacity-60">{{ item.name }}</div>
          </div>
    
          <button 
            type="button"
            class="btn btn-square text-white bg-red-500 hover:bg-red-500/80"
            (click)="onDeleteItem.emit(item)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z"/></svg>
          </button>
        </li>
      }    
    } @else {
      <p class="text-sm opacity-60 text-center p-4">Sin elementos</p>
    }
  }
</ul>
