<section class="grid grid-cols-1 sm:grid-cols-3 gap-4">
  <app-image-picker-component 
    [isLoading]="isLoading()"
    [clearTrigger]="clearTrigger()"
    [labelText]="'Personajes'"
    [aspectRatio]="'aspect-square'" 
    [displayImg]="formData().image_url"
    (onSelectedFile)="onSelectedFile($event)"
    (onDeleteFile)="onDeleteFile()" />

  <div class="sm:col-span-2 flex flex-col h-full">
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
      <fieldset class="fieldset">
        <label class="label">Nombre</label>
        <input
          #name
          type="text" class="input w-full" placeholder="Nombre"
          [disabled]="isLoading()"
          [value]="formData().name"
          (input)="updateName(name.value)"
          maxlength="100"/>
      </fieldset>
    
      <fieldset class="fieldset">
        <label class="label">Slug</label>
        <input
          #slug
          type="text" class="input w-full" placeholder="Slug"
          [disabled]="isLoading()"
          [value]="formData().slug"
          (input)="updateSlug(slug.value)"
          maxlength="100"/>
      </fieldset>
    </div>

    <fieldset class="fieldset">
      <label class="label">Descripción</label>
      <textarea
        #description
        class="textarea w-full" placeholder="Descripción"
        [disabled]="isLoading()"
        [value]="formData().description"
        (input)="updateDescription(description.value)"
        rows="3"
      ></textarea>
    </fieldset>

    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4">
      <fieldset class="fieldset">
        <label class="label">Sort Order</label>
        <input
          #sortOrder
          type="number" class="input w-full" placeholder="Sort Order"
          [disabled]="isLoading()"
          [value]="formData().sort_order"
          (input)="updateSortOrder(sortOrder.value)"
          maxlength="100"/>
      </fieldset>

      <fieldset class="fieldset py-2 md:py-7 flex items-center">
        <label class="label cursor-pointer justify-start gap-2 pt-2">
          <input
            #isPlayable
            type="checkbox" class="checkbox checkbox-primary"
            [disabled]="isLoading()"
            [checked]="formData().is_playable"
            (change)="updateIsPlayable(isPlayable.checked)"
          />
          Personaje Jugable
        </label>
      </fieldset>
    </div>

    <div class="flex gap-2 justify-end mt-auto">
      @if (isLoading()) {
        <div class="w-52 flex justify-center">
          <app-loading-component/>
        </div>
      } @else {
        <app-button-component
          [icon]="'save'" 
          [textBtn]="saveCharacter()?.id ? 'Modificar' : 'Guardar'" 
          (onClick)="submit()" />
        
        <app-button-component
          [icon]="'clear'" 
          [textBtn]="'Limpiar'"
          (onClick)="clear()" />
      }          
    </div>
  </div>
</section>
